<h2>Login</h2>
<% if flash[:errors] %>
    <%=flash[:errors] %><br>
      
  <% end %>

<%= form_for :session, url: "/customer_login", html: { class: "form" } do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Sign In" %>
<% end %>


<h3><%= link_to "Register here" , new_customer_path %>  </h3>

  