<h2> <%= @laundromat.name%> </h2>
cost per load: $<%= @laundromat.cost%>

<br><br>


<%= link_to 'Back to Results', session[:search_results] %> 

<br><br>

<br>

<h3> Submit New Request Service</h3>

<%= form_for @order do |f| %>


<%= f.label :customer %>
<%= f.number_field :customer_id,  disabled: false, value: session[:customer_id] %><br>

<%=f.label :employee%>
<%= f.number_field :employee_id, disabled: false, value: 4 %><br>

<%= f.label :laundromat %>
<%=f.number_field :laundromat_id, disabled: false, value: params[:id] %><br>


<%= f.label :order_type %>
<%= f.text_field :order_type %><br>
<%= f.label :number_of_loads %>
<%= f.number_field :loads %><br>
<%= f.submit %>
<% end %>

