<h1> <%= @laundromat.name%> </h1>
cost per load: $<%= @laundromat.cost%>


<%= button_to 'Back', laundromats_search_path, method: :get  %>
<%# <%= button_to 'Back',:back %> 
<%# <%= link_to 'Back', :back 

<%# <%= link_to ‘Back’, request.headers[‘HTTP_REFERER’] %> 