<h2>Welcome <%= @customer.name %></h2>

<h4> Search by Zipcode</h4>
<%= form_tag(laundromats_path, method: :get) do %>
<%= text_field_tag(:zipcode, params[:zipcode]) %>
<%= submit_tag "Search", name: nil %>
<%end %>



<section>
<h2>Your Orders</h2>
<hr>
<% @orders.each do |order| %>
<p><strong>Order # </strong> <%= order.id%><font size="3" color="blue"> Date: </font> <%= order.created_at.strftime("%m/%d/%Y") %></p>
<ul>
<li><font size="3" color="red">Laundromat: </font><%= Laundromat.find(order.laundromat_id).name %>
<font size="3" color="red">Load(s): </font><%= order.loads.to_s %>
 <font size="3" color="red">Service Type: </font> <%= order.order_type %>
 
<%= button_to 'Cancel Order', customer_path(order.customer_id), data: {confirm: 'Are you sure you want to Cancel this order?'} %>
</li>
</ul>


</section>
<% end %>