<!DOCTYPE html>
<html>
  <head>
    <title>LaundryApp</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light " >

<h1><%=link_to "WeLaundry", "/"%></h1> <br>
  

 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <% if @current_customer %>
              <!--Welcome, <%= @current_customer.name %>! -->
              <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
            <% else %>
              <%= link_to "Login", customer_login_path, class: "nav-link" %>
            <% end %>
        <!--<a class="nav-link" href="/customer_login" style = "">Login <span class="sr-only">(current)</span></a>-->
      </li>
      <!--- <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
      </li> -->
      
    </ul>
    
  </div>
</nav>
    <style>
  

</style>

    <%= yield %>
  </body>
</html>
